@model UserIdentity.Models.RoleEditModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    // post edilecek bilgiler
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleName" value="@Model.Role.Id" />

    // role içerisine ekleyeceğmiz kullanıcıları seçeceğiz
    <div class="panel panel-primary">
        <div class="panel-heading">
            Add to @Model.Role.Name
        </div>
        // role ekleme işlemi
        <table class="table table-striped">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr><td colspan="2">Bu role eklenebilecek kullanıcı yok</td></tr>
            }
            else
            {
                <tr>
                    <td>
                        User Id
                    </td>
                    <td>Role</td>
                </tr>
                // eğer üye olmayanların sayısı 0 dan farklı ise
                // checkbox seçili alandaki id ye sahip olanlara role ekle
                foreach (var user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Remove from @Model.Role.Name
        </div>
        // role ekleme işlemi
        <table class="table table-striped">
            @if (Model.Members.Count() == 0)
            {
                <tr><td colspan="2">Bu role eklenmiş bir kullanıcı yok</td></tr>
            }
            else
            {
                <tr>
                    <td>
                        User Id
                    </td>
                    <td>Role</td>
                </tr>
                // eğer üye olanların sayısı 0 dan farklı ise
                // checkbox seçili alandaki id ye sahip olanlara role sil
                foreach (var user in Model.Members)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@user.Id" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
}

